@{
    ViewBag.Title = "Reset Password";
}

@section Scripts{
    <script src="~/js/controllers/resetPasswordController.js"></script>
}

<div class="row">

    <div ng-controller="resetPasswordController as vm" class="col-md-6 col-md-offset-3">
        <h3>Reset Password</h3>
        <div class="alert alert-danger" role="alert" ng-show="vm.errorMessage" ng-cloak>
            <i class="fa fa-exclamation-triangle"></i>
            <span ng-bind="vm.errorMessage"></span>
        </div>
        <form novalidate name="form" ng-submit="vm.resetPassword()" role="form">
            <wait-cursor ng-show="vm.isBusy"></wait-cursor>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="vm.credentials.newPassword" ng-minlength="8" required />
                <span ng-show="form.newPassword.$dirty && form.newPassword.$error.required" class="help-block" ng-cloak>New Password is required</span>
                <span ng-show="form.newPassword.$dirty && form.newPassword.$error.minlength" class="help-block" ng-cloak>Password must be at least 8 characters long</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="vm.credentials.confirmPassword" required
                       compare-to="vm.credentials.newPassword" />
                <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block" ng-cloak>Please type new password again</span>
                <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.compareTo && !(form.confirmPassword.$error.required)"
                      class="help-block" ng-cloak>Passwords do not match</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.isBusy" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>