@{
    ViewBag.Title = "Email Confirmed";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. 
    </p>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            Please <a asp-controller="Auth" asp-action="Login">Click here to Log in</a>.
        </p>
    }
    
</div>
