@{
    ViewBag.Title = "Confirmation Email Sent";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        A confirmation email has been sent.
    </p>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            Please <a asp-controller="Auth" asp-action="Login">Click here to Log in</a>.
        </p>
    }
</div>
