<!DOCTYPE html>
<html>
<head>
    <title>Chirp - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <img class="profilepicture" src="~/img/prof.jpg" alt="Profile Picture" />
            <span id="username">@User.Identity.Name</span>
        }
        
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
        </ul>
    </div>

    <div id="wrapper" class="container-fluid">
        <div id="main">
            <div>
                @RenderBody()
            </div>
            <div id="footer" class="container-fluid">
                <div class="navbar navbar-inverse navbar-fixed-bottom">
                    <h4 class="text-center text-info"> &copy; 2015 Steve Fallon</h4>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>