@{
    ViewBag.Title = "About";
}

<h1>About</h1>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/scripts/jquery.signalR-2.1.2.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/about/application.js"></script>
    <script src="~/js/about/chirpsController.js"></script>
}

<div ng-app="application" ng-controller="chirpsController as vm">
    <h1 id="myTest" ng-bind="vm.test"></h1>
    <form id="form1">
        <div class="ediv">
            <input type="button" ng-click="vm.woop()"
                   value="WOOP" />
        </div>
        <br />
        <div class="mdiv">
            <ul>
                <li data-ng-model="message" data-ng-repeat="message in messagesList">
                    {{message.dateString + ' ' + message.statusString}}
                </li>
            </ul>
        </div>
    </form>
    <div data-ng-class="{updprocess: applicationBlocked}"></div>
</div>