@{
    ViewBag.Title = "Main Page";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-chirps.js"></script>
    <script src="~/js/chirpsController.js"></script>
}

<h1>Chirp Feed</h1>

<div class="clearfix" ng-app="app-chirps">
    <div ng-controller="chirpsController as vm">
        <h5>{{vm.name}}</h5>
        <form ng-show="authenticated" ng-Submit="post()">
            <h4>{{current_user}} says </h4>
            <textarea required class="form-control" maxLength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
            <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
        </form>
        <div id="post-stream">
            <div class='post' ng-repeat="chirpMessage in vm.chirpMessages | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                <p>{{chirpMessage.message}}</p>
                <small>Posted by @@{{chirpMessage.username}}</small>
                <small class="pull-right">{{chirpMessage.postTime | date:"h:mma 'on' MMM d, y"}}
            </div>
        </div>
    </div>
</div>

