@{ 
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Chirp - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        <img class="profilepicture" src="~/img/prof.jpg" alt="Profile Picture" />
        <span>Chase Huxley</span>
        <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <h1>Chirp</h1>
            <p>Tell the world.</p>

            <form>
                <label>Message</label>
                <input />
                <input type="submit" value="Post" />
            </form>
        </div>
        <div id="footer">
            <p> &copy; 2015 Steve Fallon</p>
        </div>
    </div>
</body>
</html>