@model Chirp.ViewModels.ChirpUserViewModel

@{
    ViewBag.Title = "Account Settings";
}

<div class="row">
    <div class="col-md-12">
        <h1>Account Settings - @Model.UserName</h1>
        <h2></h2>
        <br/>
        <table class="table">
            <tr>
                <td>
                    Email
                </td>
                <td>
                    @Model.Email
                </td>

                @if (Model.EmailConfirmed)
                {
                    <td>
                        Confirmed
                    </td>
                }
                else
                {
                    <td>
                        <span>Unconfirmed</span>
                        <form class="resend-email" action="api/user/ResendConfirmationEmail" method="post">
                            <button type="submit" class="btn btn-sm btn-info">Resend Confirmation Email</button>
                        </form>
                    </td>
                }

            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    ***************
                </td>
                <td>
                    <a asp-controller="Auth" asp-action="ChangePassword">Change Password</a>
                </td>
            </tr>
        </table>
    </div>
</div>

