@model Chirp.ViewModels.ChirpUserViewModel

@{
    ViewBag.Title = $"{Model.UserName} - User Page";
}

<div class="row">
    <div class="col-md-12">
    <h1>@Model.UserName</h1>
        <div>
            <p>Email: @Model.Email</p>
        </div>
    </div>
</div>

