﻿@model Chirp.ViewModels.ChirpUserViewModel
@{
    ViewBag.Title = $"{Model.UserName} - User Page";
}

<script>
    var pageUserName = "@Model.UserName";
</script>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/user/app-user.js"></script>
    <script src="~/js/user/userController.js"></script>
    <script src="~/js/directives/chirpControls.js"></script>
    <script src="~/js/directives/simpleControls.js"></script>
}

<div class="row col-md-12" ng-app="app-user" ng-controller="userController as vm">
    <div ng-show="vm.firstLoad">
        <h1 ng-bind-template="User: {{vm.user.userName}}"></h1>
        <h5 ng-bind-template="Email: {{vm.user.email}}"></h5>
    </div>

    <div ng-show="vm.firstLoad" ng-cloak>
        <h3>Chirps</h3>
        <div id="post-stream" class="container-fluid">
            <div class='post' ng-repeat="chirpPost in vm.chirpPosts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                <chirp-post-item chirp-post="chirpPost"></chirp-post-item>
            </div>
        </div>
    </div>
</div>

        


