@model Chirp.ViewModels.ChirpUserViewModel
@{
    ViewBag.Title = $"{Model.UserName} - User Page";
}

@section Scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/controllers/userController.js"></script>
    <script src="~/js/chirpSignalR.js"></script>
}

<div ng-controller="userController as vm" ng-init="vm.pageUserName = '@Model.UserName'">
    <div ng-show="vm.firstLoad">
        <h1 ng-bind-template="User: {{vm.user.userName}}"></h1>
        <h5 ng-bind-template="Email: {{vm.user.email}}"></h5>
    </div>
    <div ng-show="vm.firstLoad" ng-cloak>
        <h3>Chirps</h3>
        <div id="post-stream" class="container-fluid" ng-show="vm.hasChirps()">
            <div class="post" ng-repeat="chirpPost in vm.chirpPosts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                <chirp-post-item chirp-post="chirpPost"></chirp-post-item>
            </div>
        </div>
        <div ng-hide="vm.hasChirps()">
            <div class="alert alert-info" role="alert">
                <i class="fa fa-exclamation-triangle"></i>
                <span>This user has no Chirps.</span>
            </div>
        </div>
    </div>
</div>

        


